body {
    background-color: black !important;
    width: 100vw;
}

.full-body-container{
    color: white;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height: fit-content;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 60px !important;
    margin: 0;
}

h3 {
    font-size: 26px !important;
    color: white;
    margin: 0;
}

hr {
    margin: 15px 0px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Girassol", serif;
    font-weight: 400;
    font-style: normal;
    margin: 10px 0px;
    padding-top: 10px;
    width: 60vw;
}

#logo-img {
    height: 50vh;
    max-height: 600px;
    /* margin: 10px; */
}

.logo-text {
    /* display: flex; */
    /* align-items: center; */
    /* flex-direction: column; */
    color: #DB4437;
}

.inputs-row {
    margin-top: 50px;
    display: flex;
    justify-content: left;
    width: 100%;
}

.no-results {
    color: red;
    font-size: 15pt;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}

.submit-button {
    color: white;
    background-color: #c6382b;
    border-radius: 5px;
    border: none;
    font-family: "Girassol", serif;
    font-size: 14pt;
    padding: 5px 10px;
    margin: 30px;
}

.submit-button:hover {
    background-color: #9d2c22;
}

#google-c{
    color:#4285F4;
}

#google-s{
    color:#DB4437;
}

#google-4{
    color:	#F4B400;
}

#google-3{
    color:	#4285F4;
}

#google-0-1{
    color:	#0F9D58;
}

#google-0-2{
    color:#DB4437;
}

.google-colors{
    display: flex;
    align-items: center;
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
}

.google-colors h1{
    margin-bottom: 0;
    margin-right: 3px;
}

.input-box{
    color: white;
    border-bottom:1px solid white;
    display: flex;
    /* align-items: center; */
    /* margin-top: 50px; */
    padding:12px;
    /* width: 600px; */
}

.input-box img{
    height: 20px;
    width:20px;
}

.top-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

.input-box input{
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
    background-color: black;
    color: white;
}

#answer-box{
    width: 700px;
    margin-top:20px; 
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.episode-title{
    font-family: 'Kanit', sans-serif;
    color: #DB4437;
}

.episode-desc{
    font-family: 'Montserrat', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50VW;
}

.form-label {
    color: rgb(151, 151, 151);
}

.form-control {
    background-color: black !important;
    color: white !important;
    border-bottom: white solid 1px !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: none !important;
    padding-left: 5px !important;
}

.dropdown-toggle {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
    text-align: left !important;
    border: rgb(226, 226, 226) solid 1px !important;
}

.sub-inputs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}