body {
    background-color: black;
    width: 100vw;
}

.full-body-container{
    color: white;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height: auto;
    margin: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 60px;
    margin: 0;
}

h3 {
    font-size: 24px;
    color: white;
    margin: 0;
}

hr {
    margin: 15px 0px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Girassol", serif;
    font-weight: 400;
    font-style: normal;
    margin: 10px 0px;
    width: 90vw;
}

#logo-img {
    height: 45vh;
    max-height: 600px;
    margin: 10px;
}

.logo-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #DB4437;
}

.inputs-row {
    margin-top: 50px;
    display: flex;
    justify-content: left;
    width: 100%;
    /* align-items: center; */
}

/* .no-resutls-box {
    display: flex;
    justify-content: center;
} */

.no-results {
    color: red;
    font-size: 15pt;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}

.submit-button {
    color: white;
    background-color: #c6382b;
    border-radius: 5px;
    border: none;
    font-family: "Girassol", serif;
    font-size: 14pt;
    padding: 5px 10px;
    margin: 30px;
}

.submit-button:hover {
    background-color: #9d2c22;
}

#google-c{
    color:#4285F4;
}

#google-s{
    color:#DB4437;
}

#google-4{
    color:	#F4B400;
}

#google-3{
    color:	#4285F4;
}

#google-0-1{
    color:	#0F9D58;
}

#google-0-2{
    color:#DB4437;
}

.google-colors{
    display: flex;
    align-items: center;
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
}

.google-colors h1{
    margin-bottom: 0;
    margin-right: 3px;
}

.input-box{
    /* background-color: white; */
    /* border-radius: 50px; */
    color: white;
    border-bottom:1px solid white;
    display: flex;
    align-items: center;
    margin-top: 50px;
    padding:12px;
    width: 600px;
}

.input-box img{
    height: 20px;
    width:20px;
}

.top-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box input{
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
    background-color: black;
    color: white;
}

#answer-box{
    width: 700px;
    margin-top:20px; 
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.episode-title{
    font-family: 'Kanit', sans-serif;
    color: #DB4437;
}

.episode-desc{
    font-family: 'Montserrat', sans-serif;
}