<!doctype html>
<title>DNM's Kitchen</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
  rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Girassol&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<body>
  <div class="full-body-container">
    <div class="mt-5 top-text">
      <div class="logo">
        <div class="logo-text">
          <h3>What will you cook in</h3>
          <h1 id="google-s">DNM's KITCHEN</h1>
        </div>
        <img id="logo-img" src="../static/images/dnms-kitchen-logo.svg" />
      </div>
      <div class="mt-5 form">
        <div class="mt-2 mb-4 w-75">
          <!-- <img src="{{ url_for('static', filename='images/mag.png') }}" /> -->
          <input class="form-control" placeholder="Enter comma-separated ingredients to search DNM's recipes"
            id="ingredients-input">
        </div>
        <div class="sub-inputs w-75">
          <p class="mt-2">Additional Filters</p>
          <div class="mb-4">
            <label for="minutes-input" class="form-label">Max cooking time, mins (Required)</label>
            <input class="form-control w-25" placeholder="Ex: 30" id="minutes-input">
          </div>
          <div class="dropdown mb-4">
            <label for="appliances-input" class="form-label">Available Appliances</label>
            <button class="btn form-control dropdown-toggle w-75" type="button" id="applianceDropdown"
              data-bs-toggle="dropdown" aria-expanded="false">
              Select
            </button>
            <ul id="appliance-menu" class="appliance-menu dropdown-menu" aria-labelledby="applianceDropdown">
              <li><label>
                  <input type="checkbox" value="Oven">
                  Oven
                </label></li>
              <li><label>
                  <input type="checkbox" value="Microwave">
                  Microwave
                </label></li>
              <!-- <li><label>
                  <input type="checkbox" value="Air-Fryer">
                  Air Fryer -->
                </label></li>
              <li><label>
                  <input type="checkbox" value="Stove">
                  Stove
                </label></li>
                <li><label>
                  <input type="checkbox" value="Pot">
                  Pot
                </label></li>
              <!-- <li><label>
                  <input type="checkbox" value="Pan">
                  Pan
                </label></li> -->
              <li><label>
                  <input type="checkbox" value="Blender">
                  Blender
                </label></li>
              <!-- <li><label>
                  <input type="checkbox" value="Toaster">
                  Toaster
                </label></li> -->
              <!-- <li><label>
                  <input type="checkbox" value="Rice-Cooker">
                  Rice Cooker
                </label></li>
              <li><label>
                  <input type="checkbox" value="Pressure-Cooker">
                  Pressure Cooker
                </label></li> -->
            </ul>
          </div>

          <div class="dropdown mb-4">
            <label for="diet-input" class="form-label">Dietary Restrictions</label>
            <button class="btn form-control dropdown-toggle w-75" type="button" id="dietDropdown"
              data-bs-toggle="dropdown" aria-expanded="false">
              Select
            </button>
            <ul id="diet-menu" class="dropdown-menu diet-menu" aria-labelledby="dietDropdown">
              <li><label>
                  <input type="checkbox" value="Vegetarian">
                  Vegetarian
                </label></li>
              <li><label>
                  <input type="checkbox" value="Vegan">
                  Vegan
                </label></li>
              <li><label>
                  <input type="checkbox" value="Pescatarian">
                  Pescatarian
                </label></li>
              <li><label>
                  <input type="checkbox" value="Lactose-Intolerant">
                  Lactose Intolerant
                </label></li>
              <li><label>
                  <input type="checkbox" value="Peanut-Allergy">
                  Peanut Allergy
                </label></li>
              <li><label>
                  <input type="checkbox" value="Kosher">
                  Kosher
                </label></li>
              <li><label>
                  <input type="checkbox" value="Halal">
                  Halal
                </label></li>
            </ul>
          </div>

          <div class="mb-4">
            <label for="calories-input" class="form-label">Calories</label>
            <input class="form-control w-25" placeholder="Ex: 300" id="calories-input">
          </div>

          <div class="mb-4">
            <label for="avoid-input" class="form-label">Ingredients to Avoid</label>
            <input class="form-control w-75" placeholder="Ex: peanuts, soy" id="avoid-input">
          </div>

          <div class="mb-4">
            <label for="svd-input" class="form-label">Extra Description</label>
            <input class="form-control w-75" placeholder="Ex: quick and easy, but also refreshing!" id="svd-input">
          </div>

          <!-- <div class="input-box">
        <input placeholder="Required: Any appliances or other requests?" id="svd-input">
      </div> -->
          <button class="submit-button" onclick="filterText()">Get Your Recipe</button>
        </div>
      </div>
    </div>
    <div id="answer-box">
    </div>
  </div>

  <script>
    const icons = {
      'Gluten Free': 'fa-wheat-awn',
      'Halal': 'fa-star-and-crescent',
      'Kosher': 'fa-star-of-david',
      'Lactose Free': 'fa-glass-water',
      'Peanut Free': 'fa-face-smile',
      'Pescatarian': 'fa-fish',
      'Vegan': 'fa-leaf',
      'Vegetarian': 'fa-seedling',
      'Neutral': 'fa-face-meh',
      'Fairly Positive': 'fa-face-smile',
      'Very Positive': 'fa-face-laugh-beam',
      'Fairly Negative': 'fa-face-frown',
      'Very Negative': 'fa-face-angry'
    }

    // const icons = ['fa-wheat-awn', 'fa-star-and-cresent', 'fa-star-of-david', 'fa-glass-water', 'fa-face-smile', 'fa-fish', 'fa-leaf', 'fa-seedling']

    function answerBoxTemplate(name, ingredients, minutes, steps, avgrating, jaccsim, svdsim, sentcat, sent, reviews, gluten, halal, kosher, lactose, peanut, pescatarian, vegetarian, vegan, appliancescore) {
      const ingr = ingredients.join(", ");
      const recipe = name.replace(/(^\w{1})|(\s+\w{1})/g, letter => letter.toUpperCase());
      const stepslst = steps.join(". ")

      // let jaccsim = Math.round(jaccsim, 5)
      let svdsimRounded = parseFloat(Number(svdsim).toFixed(5))

      // Reviews
      let numReviews = reviews.length
      let firstReview = reviews[0]
      let restReviews = reviews.slice(1, 4)
      let restReviewsDiv = document.createElement('div')
      restReviews.forEach(review => {
        let reviewP = document.createElement('p')
        reviewP.innerHTML = "\"" + review + "\""
        restReviewsDiv.append(reviewP)
      })

      // Ingredients
      let ingrDiv = document.createElement('div');
      let tempDiv = document.createElement('div')
      tempDiv.classList.add('ingredients-row');
      ingrDiv.append(tempDiv)
      ingredients.forEach(ingr => {
        let ingrEl = document.createElement("p");
        ingrEl.innerHTML = ingr;
        ingrEl.classList.add('ingredient')
        tempDiv.append(ingrEl);
      })

      // Rating Stars
      const roundedRating = Math.round(avgrating)
      const decimalRating = Math.round(avgrating, 2)
      let starsDiv = document.createElement("div");
      for (let i = 0; i < roundedRating; i++) {
        let star = document.createElement("i");
        star.classList.add("fa-solid");
        star.classList.add("fa-star");
        starsDiv.append(star);
      }

      // Steps
      var re = /(^|[.!?]\s+)([a-z])/g;
      stepsUppercased = stepslst.replace(re, function (x) { return x.toUpperCase(); });

      // document.getElementById("answer-box").appendChild(tempDiv);
      let labelsWrapper = document.createElement('div')
      let labelsDiv = document.createElement('div')
      labelsWrapper.append(labelsDiv)
      // const labels = ['gluten', 'halal', 'kosher', 'lactose', 'peanut', 'pescatarian', 'vegan', 'vegetarian']
      const labels = { 'Gluten Free': gluten, 'Halal': halal, 'Kosher': kosher, 'Lactose Free': lactose, 'Peanut Free': peanut, 'Pescatarian': pescatarian, 'Vegetarian': vegetarian, 'Vegan': vegan }


      Object.keys(labels).forEach(label => {
        if (labels[label] == "Y") {
          // console.log(labels[label])
          let icon = document.createElement('i')
          icon.classList.add("fa-solid");
          icon.classList.add(icons[label]);
          icon.classList.add('diet-label-icon')
          let labelEl = document.createElement('div')
          labelEl.append(icon)
          let space = document.createElement('p')
          space.innerHTML = " "
          labelEl.append(space)
          labelEl.append(label)
          labelEl.classList.add('diet-label')
          labelsDiv.append(labelEl)
          labelsDiv.classList.add('diet-label-row')
        }
      });

      let sentimentIconI = document.createElement('i')
      sentimentIconI.classList.add("fa-solid");
      sentimentIconI.classList.add(icons[sentcat]);

      let sentimentIconDiv = document.createElement('div');
      sentimentIconDiv.append(sentimentIconI);
      let sentTextP = document.createElement('p')
      sentTextP.append(sentcat)

      // if (sentcat in ['Neutral', 'Fairly Positive', 'Very Positive']) {
      //   document.getElementsByClassName('sentiment-row').classList.add('positive')
      // } else {
      //   document.getElementsByClassName('sentiment-row').classList.add('negative')
      // }

      return `<div class='recipe-card'>
                <h3 class='episode-title'><i class="fa-solid fa-utensils"></i> ${recipe}</h3>
                <div class='rating-time-row'>
                  <p class='episode-desc'><i class="fa-regular fa-clock"></i> Total Time: ${minutes} mins</p>
                  <p class='episode-desc'>Rating: ${starsDiv.innerHTML}  ${decimalRating}  (${numReviews} Reviews)</p>
                </div>
                <div class='row'>
                  ${labelsWrapper.innerHTML}
                </div>
                <p class='episode-desc subheading'>Ingredients </p>
                <p class='episode-desc'>${ingrDiv.innerHTML}</p>
      
                <div class="row">
                  <p class='episode-desc'>Ingredient Similarity: ${jaccsim}, Description Similarity: ${svdsimRounded}</p>
                </div>
                <div class="row">
                  <p class='episode-desc'>Appliance Score: ${appliancescore}</p>
                </div>
                <p class='episode-desc'>User Review Sentiment: ${sentcat} (${sent})</p>
                <p class='episode-desc subheading'>Instructions</p>
                <div>
                  <p class='episode-desc'>${stepsUppercased}</p>
                </div>
                <p class='subheading'>Reviews </p>
                <div class='row sentiment-row'>
                  <p>${sentimentIconDiv.innerHTML} The reviews for this recipe are ${sentTextP.innerHTML}</p>
                </div>
                <p class="episode-desc">"${firstReview}"</p>
                <div class="collapsing-box">
                  <div class="collapse" id="collapseExample">${restReviewsDiv.innerHTML}</div>
                  <a class="" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    See more reviews
                  </a>
                <hr>
            </div>`
    }


    function noResultsTemplate() {
      return `<div class='no-results-box'>
              <p class='no-results'>DNM does not have this kind of recipe :( </p>
              <p class='no-results'>Try to increase the time or enter different ingredients.</p>
            </div>`
    }

    let svdInput = ""

    const applianceDropdownBtn = document.getElementById('applianceDropdown');
    const applianceDropdownMenu = document.querySelector('.appliance-menu');
    let selectedAppliances = [];
    function handleApplianceSelection(event, field) {
      const checkbox = event.target;
      if (checkbox.checked) {
        selectedAppliances.push(checkbox.value);
      } else {
        selectedAppliances = selectedAppliances.filter((item) => item !== checkbox.value);
      }

      applianceDropdownBtn.innerText = selectedAppliances.length > 0 ? selectedAppliances.join(', ') : 'Select Items';
      console.log(svdInput)
    }
    applianceDropdownMenu.addEventListener('change', function () { handleApplianceSelection(event, 'Appliances') });

    const dietDropdownBtn = document.getElementById('dietDropdown');
    const dietDropdownMenu = document.querySelector('.diet-menu');
    let selectedDiets = [];
    function handleDietSelection(event, field) {
      const checkbox = event.target;
      if (checkbox.checked) {
        selectedDiets.push(checkbox.value);
      } else {
        selectedDiets = selectedDiets.filter((item) => item !== checkbox.value);
      }

      dietDropdownBtn.innerText = selectedDiets.length > 0 ? selectedDiets.join(', ') : 'Select Items';
      //console.log(svdInput)
      console.log(document.getElementById("minutes-input").value)
      console.log(document.getElementById("ingredients-input").value)
    }
    dietDropdownMenu.addEventListener('change', function () { handleDietSelection(event, 'Diets') });
    function filterText() {
      document.getElementById("answer-box").innerHTML = ""
      console.log(document.getElementById("ingredients-input").value)
      console.log(document.getElementById("minutes-input").value)
      console.log(document.getElementById("svd-input").value)

      // svdInput = selectedDiets.join(', ') + " " + selectedAppliances.join(', ') + " " + document.getElementById("calories-input").value + "-calories avoid-" + document.getElementById("avoid-input").value

      fetch("/recipes?" + new URLSearchParams({
        ingredient: document.getElementById("ingredients-input").value,
        minutes: document.getElementById("minutes-input").value,
        svd: document.getElementById("svd-input").value,
        avoid: document.getElementById("avoid-input").value,
        diet: selectedDiets,
        appliances: selectedAppliances
      }).toString())
        .then(response => {
          if (response.ok) {
            return response.json();
          } else {
            throw new Error('Failed to fetch data from server');
          }
        })
        .then(data => {
          console.log(data);
          if (data.length != 0) {
            console.log("type", typeof (data))
            data.forEach(row => {
              console.log(row)
              let tempDiv = document.createElement("div");
              tempDiv.innerHTML = answerBoxTemplate(row.name,
                row.ingredients,
                row.minutes,
                row.steps,
                row.avg_rating,
                row.jacc_sim,
                row.svd_sim,
                row.sentiment_category,
                row.sentiment,
                row.review,
                row['gluten free'],
                row['halal'],
                row['kosher'],
                row['lactose-intolerant'],
                row['peanut allergy'],
                row['pescatarian'],
                row['vegetarian'],
                row['vegan'],
                row.appliance_score);
              document.getElementById("answer-box").appendChild(tempDiv);
            });
          } else {
            console.log('no recipes')
            let tempDiv = document.createElement("div");
            tempDiv.innerHTML = noResultsTemplate();
          }
        })
        .catch(error => {
          console.error('Error fetching data:', error);
          let tempDiv = document.createElement("div");
          tempDiv.innerHTML = noResultsTemplate();
          document.getElementById("answer-box").appendChild(tempDiv);
        });
    }

  </script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/d6bceb316e.js" crossorigin="anonymous"></script>
</body>