<!doctype html>
<title>DNM's Kitchen</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
  rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Girassol&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<body>
  <div class="full-body-container">
    <div class="mt-5 top-text">
      <div class="logo">
        <div class="logo-text">
          <h3>What will you cook in</h3>
          <h1 id="google-s">DNM's KITCHEN</h1>
        </div>
        <img id="logo-img" src="../static/images/dnms-kitchen-logo.svg" />
      </div>
      <div class="mt-5 form">
        <div class="mt-2 mb-4 w-75" onclick="sendFocus('ingredients-input')">
          <!-- <img src="{{ url_for('static', filename='images/mag.png') }}" /> -->
          <input class="form-control" placeholder="Enter comma-separated ingredients to search DNM's recipes"
            id="ingredients-input">
        </div>
        <div class="sub-inputs w-75">
          <p class="mt-2">Additional Filters</p>
          <div class="mb-4" onclick="sendFocus('minutes-input')">
            <label for="minutes-input" class="form-label">Max cooking time, mins (Required)</label>
            <input class="form-control w-25" placeholder="Ex: 30" id="minutes-input">
          </div>
          <div class="dropdown mb-4">
            <label for="appliances-input" class="form-label">Available Appliances (Required)</label>
            <button class="btn form-control dropdown-toggle w-75" type="button" id="applianceDropdown"
              data-bs-toggle="dropdown" aria-expanded="false">
              Select
            </button>
            <ul id="appliance-menu" class="appliance-menu dropdown-menu" aria-labelledby="applianceDropdown">
              <li>
                <label>
                  <input type="checkbox" value="Oven">
                  Oven
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" value="Microwave">
                  Microwave
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" value="Pan">
                  Pan
                </label>
              </li>
            </ul>
          </div>

          <div class="dropdown mb-4">
            <label for="diet-input" class="form-label">Dietary Restrictions</label>
            <button class="btn form-control dropdown-toggle w-75" type="button" id="dietDropdown"
              data-bs-toggle="dropdown" aria-expanded="false">
              Select
            </button>
            <ul id="diet-menu" class="dropdown-menu diet-menu" aria-labelledby="dietDropdown">
              <li>
                <label>
                  <input type="checkbox" value="Vegetarian">
                  Vegetarian
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" value="Vegan">
                  Vegan
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" value="Pescatarian">
                  Pescatarian
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" value="Vegetarian">
                  Lactose Intolerant
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" value="Vegan">
                  Peanut Allergy
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" value="Pescatarian">
                  Kosher
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" value="Pescatarian">
                  Halal
                </label>
              </li>
            </ul>
          </div>

          <div class="mb-4" onclick="sendFocus('calories-input')">
            <label for="calories-input" class="form-label">Calories</label>
            <input class="form-control w-25" placeholder="Ex: 300" id="calories-input">
          </div>

          <div class="mb-4" onclick="sendFocus('avoid-input')">
            <label for="avoid-input" class="form-label">Ingredients to Avoid</label>
            <input class="form-control w-75" placeholder="Ex: peanuts, soy" id="avoid-input">
          </div>

          <!-- <div class="input-box" onclick="sendFocus('svd-input')">
        <input placeholder="Required: Any appliances or other requests?" id="svd-input">
      </div> -->
          <button class="submit-button" onclick="filterText()">Get Your Recipe</button>

          <!-- TODO: REST OF INPUTS -->
          <!-- <div class="inputs-row">
                <fieldset>
                    <legend>Dietary Restrictions:</legend>
                  
                    <div>
                      <input type="checkbox" id="scales" name="scales" checked />
                      <label for="scales">Vegetarian</label>
                    </div>
                  
                    <div>
                      <input type="checkbox" id="horns" name="horns" />
                      <label for="horns">Vegan</label>
                    </div>
                  </fieldset>
                  <fieldset>
                    <legend>Available Appliances:</legend>
                  
                    <div>
                      <input type="checkbox" id="scales" name="scales" checked />
                      <label for="scales">Microwave</label>
                    </div>
                  
                    <div>
                      <input type="checkbox" id="horns" name="horns" />
                      <label for="horns">Oven</label>
                    </div>
                    <div>
                        <input type="checkbox" id="horns" name="horns" />
                        <label for="horns">Stove</label>
                      </div>
                  </fieldset>
                  <fieldset>
                    <legend>Max Cooking Time:</legend>
                  
                    <div>
                      <input type="checkbox" id="scales" name="scales" checked />
                      <label for="scales">5 min</label>
                    </div>
                  
                    <div>
                      <input type="checkbox" id="horns" name="horns" />
                      <label for="horns">10 min</label>
                    </div>
                    <div>
                        <input type="checkbox" id="horns" name="horns" />
                    <label for="horns">20 min</label>
                    </div>
                    <div>
                    <input type="checkbox" id="horns" name="horns" />
                    <label for="horns">1 hour</label>
                    </div>
                  </fieldset>
                  
            </div> -->
        </div>
      </div>
    </div>
    <div id="answer-box">

    </div>
  </div>

  <script>
    function answerBoxTemplate(name, ingredients, minutes, steps, avgrating, jaccsim, svdsim) {
      return `<div class=''>
                <h3 class='episode-title'>${name}</h3>
                <p class='episode-desc'>Ingredients: ${ingredients}</p>
                <p class='episode-desc'>Time to make: ${minutes} minutes</p>
                <p class='episode-desc'>Steps: ${steps}</p>
                <p class='episode-desc'>User Rating: ${avgrating}/5</p>
                <p class='episode-desc'>Ingredient Similarity: ${jaccsim}</p>
                <p class='episode-desc'>Other Details Similarity: ${svdsim}</p>
                <hr>
            </div>`
    }

    function noResultsTemplate() {
      return `<div class='no-results-box'>
              <p class='no-results'>DNM does not have a recipe for you. Try a new search.</p>
            </div>`
    }

    function sendFocus(inputId) {
      document.getElementById('inputId').focus()
    }

    let svdInput = ""

    const applianceDropdownBtn = document.getElementById('applianceDropdown');
    const applianceDropdownMenu = document.querySelector('.appliance-menu');
    let selectedAppliances = [];

    function handleApplianceSelection(event, field) {
      const checkbox = event.target;
      if (checkbox.checked) {
        selectedAppliances.push(checkbox.value);
      } else {
        selectedAppliances = selectedAppliances.filter((item) => item !== checkbox.value);
      }

      applianceDropdownBtn.innerText = selectedAppliances.length > 0 ? selectedAppliances.join(', ') : 'Select Items';
      console.log(svdInput)
    }

    applianceDropdownMenu.addEventListener('change', function () { handleApplianceSelection(event, 'Appliances') });

    const dietDropdownBtn = document.getElementById('dietDropdown');
    const dietDropdownMenu = document.querySelector('.diet-menu');
    let selectedDiets = [];

    function handleDietSelection(event, field) {
      const checkbox = event.target;
      if (checkbox.checked) {
        selectedDiets.push(checkbox.value);
      } else {
        selectedDiets = selectedDiets.filter((item) => item !== checkbox.value);
      }

      dietDropdownBtn.innerText = selectedDiets.length > 0 ? selectedDiets.join(', ') : 'Select Items';
      console.log(svdInput)
      console.log(document.getElementById("minutes-input").value)
      console.log(document.getElementById("ingredients-input").value)
    }

    dietDropdownMenu.addEventListener('change', function () { handleDietSelection(event, 'Diets') });


    function filterText() {
      document.getElementById("answer-box").innerHTML = ""
      console.log(document.getElementById("ingredients-input").value)
      console.log(document.getElementById("minutes-input").value)
      // console.log(document.getElementById("svd-input").value)

      svdInput = selectedDiets.join(', ') + " " + selectedAppliances.join(', ') + " " + document.getElementById("calories-input").value + "-calories avoid-" + document.getElementById("avoid-input").value

      fetch("/recipes?" + new URLSearchParams({
        ingredient: document.getElementById("ingredients-input").value,
        minutes: document.getElementById("minutes-input").value,
        svd: svdInput,
        avoid: document.getElementById("avoid-input").value
      }).toString())
        .then(response => {
          if (response.ok) {
            return response.json();
          } else {
            throw new Error('Failed to fetch data from server');
          }
        })
        .then(data => {
          console.log(data);
          if (data.length != 0) {
            console.log("type", typeof (data))
            data.forEach(row => {
              let tempDiv = document.createElement("div");
              tempDiv.innerHTML = answerBoxTemplate(row.name, row.ingredients, row.minutes, row.steps, row.avg_rating, row.jacc_sim, row.svd_sim);
              document.getElementById("answer-box").appendChild(tempDiv);
            });
          } else {
            let tempDiv = document.createElement("div");
            tempDiv.innerHTML = noResultsTemplate();
            document.getElementById("answer-box").appendChild(tempDiv);
          }
        })
        .catch(error => {
          console.error('Error fetching data:', error);
          let tempDiv = document.createElement("div");
          tempDiv.innerHTML = noResultsTemplate();
          document.getElementById("answer-box").appendChild(tempDiv);
        });
    }

  </script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
</body>